{% load staticfiles %}

<div class="topBar">
    <!--Search-->
    <div class="topBar-search-block">
        <div class="container">
            <form action="" class="form">
                <input type="text" name="" value="" placeholder="Search" class="form-control">
                <div class="search-close"><i class="fa fa-close"></i></div>
            </form>
        </div>
    </div>
   <!-- End Search-->

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-8">
                <div class="topBar-time-show">
                    北京时间：
                    <span class="topBar-time"></span>
                </div>
            </div>
            <div class="col-md-6 col-sm-4 col-xs-4 text-right clearfix">
                <i class="fa fa-search search-btn pull-right"></i>
                <ul class="topBar-list pull-right hidden-xs">
                    <li class="topBar-list-lis">
                        <a href="/pages/register.html/" title="">登录</a>
                    </li>
                    <li class="topBar-list-lis">
                        <a href="" title="">注册</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>